@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
    background-image: url(../HTML/imagen/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    width: inherit;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.container{
    height: auto;
    align-content: center;
}
